*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  position: relative; }

body {
  font-family: 'Raleway', sans-serif;
  line-height: 1.7;
  color: #636363; }

.slide-title {
  font-family: 'Smooch', cursive;
  font-size: 10rem;
  color: #fff; }

.slide-txt {
  font-size: 1.8rem;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase; }

.tour__title {
  position: absolute;
  display: flex;
  flex-direction: center;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  z-index: 10; }

.hidden {
  display: none; }

.position {
  position: relative; }

.overlayy {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  z-index: 5; }

.hero {
  width: 100vw;
  height: 100vh; }
  .hero__slider {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: nowrap; }
    .hero__slider--slide {
      overflow: hidden;
      margin: 0 auto;
      position: absolute;
      top: 0;
      background-size: cover;
      background-position: center bottom;
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 4rem;
      transition: transform 0.5s ease-in-out; }

.slide--1 {
  background-image: linear-gradient(to bottom, rgba(42, 245, 152, 0.6) 0, rgba(8, 174, 234, 0.6) 50%), url(../img/jens-kreuter-96504-unsplash.jpg); }
  .slide--1-price {
    font-size: 2rem;
    color: #4854fa;
    background-color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    padding: 2rem 4rem; }

.slide--2 {
  background-image: linear-gradient(to bottom, rgba(42, 245, 152, 0.6) 0, rgba(8, 174, 234, 0.6) 50%), url(../img/jakob-owens-208999-unsplash-1024x712.jpg); }

.slide--3 {
  background-image: linear-gradient(to bottom, rgba(42, 245, 152, 0.6) 0, rgba(8, 174, 234, 0.6) 50%), url(../img/kalen-emsley-94118.jpg); }

.hero__slider--btns {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  padding: 0 10rem;
  top: 20vw; }
  .hero__slider--btns-btn {
    font-size: 2rem;
    color: #303134;
    border: none;
    padding: 1rem; }

.modal__btns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10rem;
  border-radius: 50%;
  color: #fff;
  padding: 3rem; }
  .modal__btns-btn {
    display: inline-block;
    text-decoration: none;
    padding: 1rem 2.5rem;
    color: #fff;
    font-size: 1.6rem;
    cursor: pointer;
    font-weight: 700; }
  .modal__btns-1 {
    background-color: rgba(254, 215, 1, 0.5);
    padding: 1.2rem, 2rem; }
    .modal__btns-1:hover {
      background-color: rgba(42, 245, 152, 0.5); }
  .modal__btns-2 {
    background-color: transparent; }

.btn--outline {
  border: 2px solid #fff; }
  .btn--outline:hover {
    box-shadow: inset 0 0 8px #fed701; }

.grid {
  display: grid; }

.grid-2--cols-12 {
  grid-template-columns: 1fr 3fr; }

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr); }

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr); }

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr); }

.grid--5-cols {
  grid-template-columns: repeat(5, 1fr); }

.grid--center-v {
  align-items: center; }

.header {
  height: 8rem;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 6rem; }
  .header__logo {
    font-family: 'Smooch', cursive;
    font-size: 4rem;
    background: -webkit-linear-gradient(#08aeea, #2af598);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: default; }
  .header__nav {
    flex: 1; }
    .header__nav-list {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      gap: 3rem; }
      .header__nav-list-item {
        list-style-type: none;
        font-size: 1.6rem;
        font-weight: 600; }
        .header__nav-list-item-link {
          text-decoration: none; }
        .header__nav-list-item-link:link, .header__nav-list-item-link:visited {
          color: #8d8d8d; }
        .header__nav-list-item-link:hover, .header__nav-list-item-link:active {
          color: #8d8d8d;
          background: -webkit-linear-gradient(#08aeea, #2af598);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent; }

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  background-image: linear-gradient(to bottom, rgba(42, 245, 152, 0.6) 0, rgba(8, 174, 234, 0.6) 50%), url(../img/vidar-nordli-mathisen-AvnXCFX25GA-unsplash-scaled.jpg);
  background-size: cover;
  background-position: center;
  padding: 6rem;
  border-radius: 5px;
  z-index: 10; }

.close-modal {
  position: absolute;
  right: 10rem;
  padding: 1rem 1.5rem; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  overflow: hidden;
  opacity: 0.10; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.section {
  margin-top: 5rem; }
  .section__txt {
    font-size: 1.6rem;
    color: #8d8d8d; }

.section__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .section__title .section__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .section__title .section__title--upper {
      text-transform: uppercase;
      font-size: 1.6rem;
      color: #8d8d8d;
      display: inline-block;
      content: "Discover"; }
    .section__title .section__title--sub {
      display: inline-block;
      font-size: 2.5rem;
      content: "Our Hot Services"; }
    .section__title .section__title--icon {
      width: 5rem;
      display: inline-block;
      background-image: url("img/zigzag.png"); }

.services {
  position: relative;
  padding-top: 7rem;
  margin: 0 auto;
  width: 130rem;
  align-items: start;
  column-gap: 1rem; }
  .services__cards {
    align-items: center;
    justify-items: center;
    row-gap: 2rem; }
  .services__card {
    margin: 0 auto;
    align-self: center; }
    .services__card--img {
      width: 90%;
      height: 90%; }
    .services__card--title {
      text-transform: uppercase;
      font-size: 1.6rem; }
    .services__card--txt {
      width: 90%;
      font-size: 1.4rem;
      color: #8d8d8d; }
    .services__card:last-child > img {
      height: 19rem;
      object-fit: cover; }

.tour {
  position: relative; }
  .tour__video {
    position: absolute;
    bottom: 0;
    left: 40rem;
    box-shadow: 1rem 1.5rem 1rem rgba(26, 26, 27, 0.5);
    z-index: 10; }
