*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  overflow-x: hidden; }

body {
  font-family: 'Raleway', sans-serif;
  line-height: 1.7;
  color: #636363; }

.slide-title {
  font-family: 'Smooch', cursive;
  font-size: 10rem;
  color: #fff; }

.slide-txt {
  font-size: 1.8rem;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase; }

.tour__title {
  position: absolute;
  display: flex;
  flex-direction: center;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  z-index: 10; }

.package__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10rem; }

.hidden {
  display: none; }

.position {
  position: relative; }

.overlayy {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  z-index: 5; }

.line {
  border: 0.5px solid #fff;
  width: 100%; }

.hero {
  width: 100vw;
  height: 100vh; }
  .hero__slider {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: nowrap; }
    .hero__slider--slide {
      overflow: hidden;
      margin: 0 auto;
      position: absolute;
      top: 0;
      background-size: cover;
      background-position: center bottom;
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 4rem;
      transition: transform 0.5s ease-in-out; }

.slide--1 {
  background-image: linear-gradient(to bottom, rgba(42, 245, 152, 0.6) 0, rgba(8, 174, 234, 0.6) 50%), url(../img/jens-kreuter-96504-unsplash.jpg); }
  .slide--1-price {
    font-size: 2rem;
    color: #4854fa;
    background-color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    padding: 2rem 4rem; }

.slide--2 {
  background-image: linear-gradient(to bottom, rgba(42, 245, 152, 0.6) 0, rgba(8, 174, 234, 0.6) 50%), url(../img/jakob-owens-208999-unsplash-1024x712.jpg); }

.slide--3 {
  background-image: linear-gradient(to bottom, rgba(42, 245, 152, 0.6) 0, rgba(8, 174, 234, 0.6) 50%), url(../img/kalen-emsley-94118.jpg); }

.hero__slider--btns {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  padding: 0 10rem;
  top: 20vw; }
  .hero__slider--btns-btn {
    font-size: 2rem;
    color: #303134;
    border: none;
    padding: 1rem; }

.modal__btns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10rem;
  border-radius: 50%;
  color: #fff;
  padding: 3rem; }
  .modal__btns-btn {
    display: inline-block;
    text-decoration: none;
    padding: 1rem 2.5rem;
    color: #fff;
    font-size: 1.6rem;
    cursor: pointer;
    font-weight: 700; }
  .modal__btns-1 {
    background-color: rgba(254, 215, 1, 0.5);
    padding: 1.2rem, 2rem; }
    .modal__btns-1:hover {
      background-color: rgba(42, 245, 152, 0.5); }
  .modal__btns-2 {
    background-color: transparent; }

.btn--outline {
  border: 2px solid #fff; }
  .btn--outline:hover {
    box-shadow: inset 0 0 8px #fed701; }

.card-btn {
  font-size: 2rem;
  display: inline-block;
  text-decoration: none;
  padding: 1rem 2.5rem;
  color: #fff;
  font-size: 1.6rem;
  cursor: pointer;
  font-weight: 600;
  margin-top: 8rem; }

.form__btn {
  font-size: 1.6rem;
  font-weight: 600;
  color: #08aeea;
  background-color: #fff;
  border: none;
  border-radius: 30px;
  padding: 1.5rem 3rem; }

.footer__form--btn {
  background: linear-gradient(#08aeea, #2af598);
  border: none;
  color: #fff;
  height: 5rem;
  margin-top: 2rem;
  width: 15%;
  position: absolute; }

.footer__container {
  display: flex;
  flex-direction: column; }

.footer {
  background-color: #303134;
  padding: 10rem 0;
  font-size: 1.4rem;
  color: #fff; }
  .footer__lists {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5rem; }
    .footer__lists--list {
      width: 20%; }
      .footer__lists--lists {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 2rem; }
        .footer__lists--lists-li {
          font-weight: 1.6rem;
          list-style: none;
          color: #fff; }
          .footer__lists--lists-link {
            text-decoration: none; }
            .footer__lists--lists-link:link, .footer__lists--lists-link:visited {
              color: #fff; }
            .footer__lists--lists-link:hover, .footer__lists--lists-link:active {
              color: #08aeea; }

.footer__lists--list ul li:first-child {
  font-size: 2rem;
  font-weight: 600;
  cursor: default; }

.footer__form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  position: relative; }
  .footer__form--input-field > input {
    border: none;
    outline: none;
    background-color: #fff;
    color: #fff;
    width: 70%;
    height: 5rem;
    padding: 1.5rem 3rem;
    margin-top: 2rem; }
    .footer__form--input-field > input--input-field input::placeholder {
      color: #fff; }

.footer__form--input-field label {
  font-weight: 600;
  font-size: 1.6rem; }

.input-field.invalid {
  border: 2px solid #fed701;
  background-color: transparent; }

#footer-error-message {
  position: absolute;
  top: 10rem;
  left: 0;
  background-color: transparent; }

.input-field.invalid + .footer-error-message {
  display: block; }

.copyright {
  color: #fff;
  background-color: #303134;
  padding: 2rem;
  text-align: center;
  font-size: 2rem; }

.grid {
  display: grid; }

.grid-2--cols-12 {
  grid-template-columns: 1fr 3fr; }

.grid-2--cols-31 {
  grid-template-columns: 3fr 1fr; }

.grid-2--cols-32 {
  grid-template-columns: 3fr 2fr; }

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr); }

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr); }

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr); }

.grid--5-cols {
  grid-template-columns: repeat(5, 1fr); }

.grid--center-v {
  align-items: center; }

.header {
  height: 8rem;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 6rem; }
  .header__logo {
    font-family: 'Smooch', cursive;
    font-size: 4rem;
    background: -webkit-linear-gradient(#08aeea, #2af598);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: default; }
  .header__nav {
    flex: 1; }
    .header__nav-list {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      gap: 3rem; }
      .header__nav-list-item {
        list-style-type: none;
        font-size: 1.6rem;
        font-weight: 600; }
        .header__nav-list-item-link {
          text-decoration: none; }
        .header__nav-list-item-link:link, .header__nav-list-item-link:visited {
          color: #8d8d8d; }
        .header__nav-list-item-link:hover, .header__nav-list-item-link:active {
          color: #8d8d8d;
          background: -webkit-linear-gradient(#08aeea, #2af598);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent; }

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  background-image: linear-gradient(to bottom, rgba(42, 245, 152, 0.6) 0, rgba(8, 174, 234, 0.6) 50%), url(../img/vidar-nordli-mathisen-AvnXCFX25GA-unsplash-scaled.jpg);
  background-size: cover;
  background-position: center;
  padding: 6rem;
  border-radius: 5px;
  z-index: 10; }

.close-modal {
  position: absolute;
  right: 10rem;
  padding: 1rem 1.5rem; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  overflow: hidden;
  opacity: 0.10; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.section {
  margin-top: 5rem; }

.section__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .section__title--upper {
    text-transform: uppercase;
    font-size: 1.6rem;
    color: #8d8d8d;
    display: inline-block; }
  .section__title--sub {
    display: inline-block;
    font-size: 2.5rem; }
  .section__title--icon {
    width: 5rem;
    display: inline-block; }

.services {
  position: relative;
  padding-top: 7rem;
  margin: 0 auto;
  width: 130rem;
  align-items: start;
  column-gap: 1rem; }
  .services__cards {
    align-items: center;
    justify-items: center;
    row-gap: 2rem; }
  .services__card {
    margin: 0 auto;
    align-self: center; }
    .services__card--img {
      width: 90%;
      height: 90%; }
    .services__card--title {
      text-transform: uppercase;
      font-size: 1.6rem; }
    .services__card--txt {
      width: 90%;
      font-size: 1.4rem;
      color: #8d8d8d; }
    .services__card:last-child > img {
      height: 19rem;
      object-fit: cover; }

.tour {
  position: relative; }
  .tour__video {
    position: absolute;
    bottom: 0;
    left: 40rem;
    box-shadow: 1rem 1.5rem 1rem rgba(26, 26, 27, 0.5);
    z-index: 10; }

.discount {
  width: 100vw;
  height: 40rem;
  background-image: linear-gradient(to bottom, rgba(42, 245, 152, 0.6) 0, rgba(8, 174, 234, 0.6) 50%), url(/img/pexels-nataliya-vaitkevich-4944685.jpg);
  background-size: cover;
  background-position: 10% 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white; }
  .discount__title {
    font-size: 3.4rem; }
  .discount__txt {
    font-size: 2rem; }
  .discount__form {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-top: 5rem; }
    .discount__form--input-field > input {
      border: 1px solid #fff;
      background-color: transparent;
      border-radius: 30px;
      color: #fff;
      width: 40rem;
      padding: 1.5rem 3rem; }
    .discount__form--input-field input::placeholder {
      color: #fff; }

.discount__form--input-field {
  position: relative; }

.input-field.invalid {
  border: 2px solid #fed701;
  background-color: transparent; }

#error-message {
  position: absolute;
  top: 6rem;
  left: 2rem;
  background-color: transparent; }

.input-field.invalid + .error-message {
  display: block; }

.icon {
  font-size: 64px;
  color: #fed701;
  background: linear-gradient(#2af598, #08aeea);
  height: 4.2rem;
  width: 4.2rem;
  color: rgba(255, 255, 255, 0.9);
  padding: 1.6rem;
  border-radius: 50%;
  margin-bottom: 3.2rem; }

.testimonials {
  width: 90%;
  margin: 0 auto; }
  .testimonials__container {
    padding-top: 6rem;
    display: flex;
    flex-direction: row;
    gap: 4rem; }
    .testimonials__container-testimonial {
      background-color: rgba(99, 99, 99, 0.2);
      font-size: 1.5rem;
      padding: 2.5rem;
      text-align: center;
      box-shadow: 0 1.5rem 4rem rgba(26, 26, 27, 0.15);
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      justify-content: center;
      align-items: center; }
      .testimonials__container-testimonial:hover {
        transform: translateY(-1.5rem) scale(1.03); }
      .testimonials__container-testimonial-img {
        width: 40%;
        height: 30%;
        border-radius: 50%;
        display: inline-block;
        object-fit: cover; }
        .testimonials__container-testimonial-img:hover {
          border: 2px solid #fed701; }
      .testimonials__container-testimonial-author {
        color: #4854fa;
        font-size: 1.8rem;
        font-weight: 600; }
      .testimonials__container-testimonial-txt {
        width: 100%; }
      .testimonials__container-testimonial-icon {
        margin-top: 2rem; }

.book {
  background-image: linear-gradient(rgba(42, 245, 152, 0.1) 0, rgba(8, 174, 234, 0.1) 50%), url(/img/redd-f-i-guyVERAnY-unsplash.jpg);
  height: 50rem;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center; }
  .book__title {
    font-size: 5rem;
    color: #fff; }
  .book__btn {
    display: inline-block;
    margin: 4rem 0;
    font-size: 1.6rem;
    font-weight: 600;
    background-color: linear-gradient(#08aeea, #2af598);
    color: #fff;
    text-decoration: none;
    padding: 1rem 2.5rem;
    color: #fff;
    cursor: pointer;
    border-radius: 30px;
    background-color: #2af598;
    background-image: linear-gradient(to right, #08aeea, #2af598); }
    .book__btn:hover {
      box-shadow: inset 0 0 8px #fed701; }

iframe {
  margin-top: 6rem;
  width: 100%; }

.incrementing {
  padding-top: 10rem;
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 6rem; }
  .incrementing__counter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .incrementing__counter-icon {
      font-size: 64px;
      color: #fed701;
      background: linear-gradient(#2af598, #08aeea);
      height: 4.2rem;
      width: 4.2rem;
      color: rgba(255, 255, 255, 0.9);
      padding: 1.6rem;
      border-radius: 50%;
      margin-bottom: 3.2rem; }
      .incrementing__counter-icon:hover {
        color: #fed701; }
    .incrementing__counter-number {
      font-size: 5rem; }
    .incrementing__counter-title {
      font-size: 1.5rem;
      text-transform: uppercase; }

.package__cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 8rem; }
  .package__cards--card {
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 50rem;
    width: 30rem; }
    .package__cards--card-side {
      height: 50rem;
      color: #fff;
      width: 30rem;
      position: absolute;
      top: 0;
      left: 0;
      backface-visibility: hidden;
      transition: all .8s ease;
      box-shadow: 0 1.5rem 4rem rgba(26, 26, 27, 0.15); }
      .package__cards--card-side--front {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative; }
        .package__cards--card-side--front-picture {
          width: 30rem;
          height: 80%; }
        .package__cards--card-side--front-heading {
          margin-top: 2rem;
          color: #4854fa;
          font-size: 2rem;
          font-weight: 400; }
      .package__cards--card-side--back {
        transform: rotateY(180deg); }
        .package__cards--card-side--back-1 {
          background-image: linear-gradient(to right bottom, #2af598, #08aeea);
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 5rem; }
    .package__cards--card:hover .package__cards--card-side--front {
      transform: rotateY(-180deg); }
    .package__cards--card:hover .package__cards--card-side--back {
      transform: rotateY(0); }

.tag {
  background-color: #fed701;
  color: #fff;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  position: absolute;
  top: 1rem;
  left: 2rem; }

.card__price-box {
  font-size: 3rem;
  font-weight: 600;
  font-family: 'Smooch', cursive; }
  .card__price-box-price {
    margin-top: 3rem; }
    .card__price-box-price:hover {
      color: rgba(254, 215, 1, 0.9);
      cursor: default; }
  .card__price-box-days {
    margin-top: 3rem; }
    .card__price-box-days:hover {
      color: rgba(254, 215, 1, 0.9);
      cursor: default; }

.countries {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  overflow: hidden; }

.country {
  width: 30rem;
  height: 40rem;
  background-size: cover;
  background-position: center;
  align-items: end;
  justify-items: center; }
  .country__details {
    display: flex;
    flex-direction: column; }
  .country__title {
    color: #fff;
    font-size: 2.6rem;
    font-weight: 600; }
  .country__price {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600; }
  .country__icon {
    display: inline-block;
    color: #fff;
    background-image: linear-gradient(to right, #08aeea, #2af598);
    border-radius: 50%;
    font-size: 2rem;
    padding: 2rem; }
    .country__icon:hover {
      box-shadow: inset 0 0 8px #fed701; }

.thailand {
  background-image: url("/img/alex-block-429051-unsplash.webp");
  filter: brightness(80%);
  transition: all 0.4s; }
  .thailand:hover {
    filter: brightness(100%);
    transform-origin: bottom center;
    transform: scale(1.1); }

.italy {
  background-image: url("/img/yeo-khee-618704-unsplash1-1024x576.jpg");
  filter: brightness(80%);
  transition: all 0.4s; }
  .italy:hover {
    filter: brightness(100%);
    transform-origin: bottom center;
    transform: scale(1.1); }

.indonesia {
  background-image: url("/img/tom-vining-668021-unsplash.jpg");
  filter: brightness(80%);
  transition: all 0.4s; }
  .indonesia:hover {
    filter: brightness(100%);
    transform-origin: bottom center;
    transform: scale(1.1); }

.singapore {
  background-image: url("/img/singapore-city_2x3.avif");
  filter: brightness(80%);
  transition: all 0.4s; }
  .singapore:hover {
    filter: brightness(100%);
    transform-origin: bottom center;
    transform: scale(1.1); }
