// The mixin to the .my-section .section__title element, with the title and subtitle text specified in the mixin arguments, and the icon image set to the value of the $icon variable in the mixin.

@mixin section-title($title, $subtitle) {
  $icon: url('img/zigzag.png');
  .section__title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    &--upper {
        text-transform: uppercase;
        font-size: 1.6rem;
        color: $lightGray;
        display: inline-block;
      content: $title;
    }
    &--sub {
        display: inline-block;
        font-size: 2.5rem;
      content: $subtitle;
    }
    &--icon {
      width: 5rem;
      display: inline-block;
      background-image: $icon;
    }
  }
}

