// Slider buttons

.hero__slider--btns{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    padding: 0 10rem;
    top: 20vw;
    @include respond(tab-land-1324){
        top: 30vw;
    }
    @include respond(phone-l){
        top: 70vw;
    }
    @include respond(phone){
        top: 110vw;
        justify-content: center;
        gap: 2rem;

    }
    &-btn{
        font-size: 2rem;
        color: $darkGray;
        border: none;
        padding: 1rem;
    }
}

.modal__btns{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10rem;
    border-radius: 50%;
    color: $white;
    padding: 3rem;
    @include respond(tab-land-1324){
        display: inline-block;
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-btn{
        display: inline-block;
        text-decoration: none;
        padding: 1rem 2.5rem;
        color: $white;
        font-size: 1.6rem;
        cursor: pointer;
        font-weight: 700;
    }
    &-1{
        background-color: rgba($yellow, 0.5);
        padding: 1.2rem, 2rem;
        &:hover{
            background-color: rgba($lightGreen, 0.5);
        }
    }
    &-2{
        background-color: transparent;
    }
}

.btn--outline{
    border: 2px solid $white;
    &:hover{
        box-shadow: inset 0 0 08px $yellow;
    }
}

.card-btn{
    font-size: 2rem;
    display: inline-block;
    text-decoration: none;
    padding: 1rem 2.5rem;
    color: $white;
    font-size: 1.6rem;
    cursor: pointer;
    font-weight: 600;
    margin-top: 8rem;
}

.form__btn{
    font-size: 1.6rem;
    font-weight: 600;
    color: $lightBlue;
    background-color: $white;
    border: none;
    border-radius: 30px;
    padding: 1.5rem 3rem;
}

.footer__form--btn{
    background: linear-gradient($lightBlue, $lightGreen);
    border: none;
    color: $white;
    height: 5rem;
    margin-top: 2rem;
    width: 15%;
    position: absolute;
    
}