.package{
    &__cards{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 8rem;
        &--card{
            perspective: 150rem;
            -moz-perspective: 150rem;
            position: relative;
            height: 50rem;
            width: 30rem;
            &-side{
                height: 50rem;
                color: #fff;
                width: 30rem;
                position: absolute;
                top: 0;
                left: 0;
                backface-visibility: hidden;
                transition: all .8s ease;
                box-shadow: 0 1.5rem 4rem rgba($black, .15);

                &--front{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    position: relative;
                    &-picture{
                        width: 30rem;
                        height: 80%;
                        
                    }
                    &-heading{
                        margin-top: 2rem;
                        color: $blue;
                        font-size: 2rem;
                        font-weight: 400;
                    
                    }
                }
                &--back{
                    transform: rotateY(180deg);
                    &-1{
                        background-image: linear-gradient(to right bottom, $lightGreen,$lightBlue);
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        gap: 5rem;
                        
                    }
                }
            }
            &:hover &-side--front{
                transform: rotateY(-180deg);
                
            }
            &:hover &-side--back{
                transform: rotateY(0);
                
            }

        }
    }
}

.tag{
    background-color: $yellow;
    color: #fff;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    position: absolute;
    top: 1rem;
    left: 2rem;
}

.card__price-box{
    font-size: 3rem;
    font-weight: 600;
    font-family: 'Smooch', cursive;
    &-price{
        margin-top: 3rem;
        &:hover{
            color: rgba($yellow, .9);
            cursor: default;
        }
    }
    &-days{
        margin-top: 3rem;
        &:hover{
            color: rgba($yellow, .9);
            cursor: default;
        }
    }
}


