.incrementing{
    padding-top: 10rem;
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 6rem;
    @include respond(tab-land-1324){
        padding-bottom: 2rem;
    }
    &__counter{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
  
        &-icon{
            font-size: 64px;
            color: $yellow;
            background: linear-gradient($lightGreen, $lightBlue);
            height: 4.2rem;
            width: 4.2rem;
            color: rgba($white, 0.9);
            padding: 1.6rem;
            border-radius: 50%;
            margin-bottom: 3.2rem;
            

            &:hover{
                color: $yellow;
            }
        }
        &-number{
            font-size: 5rem;
        }
        &-title{
            font-size: 1.5rem;
            text-transform: uppercase;
        }
    }
}

// @media(max-width: 580px){
//     flex-direction: column;
// }