
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    width: 80%;
    height: 80%;
    background-image: linear-gradient(
        to bottom, 
        rgba($lightGreen, 0.6) 0,
        rgba($lightBlue, 0.6) 50%), 
        url(../img/vidar-nordli-mathisen-AvnXCFX25GA-unsplash-scaled.jpg);
        background-size: cover;
        background-position: center;
    padding: 6rem;
    border-radius: 5px;
    // box-shadow: 0 3rem 5rem rgba($black .3);
    z-index: 10;
    @include respond(tab-port-1090){
        width: 50%;
        height: 60%;
    }
}
.close-modal{
    position: absolute;
    right: 10rem;
    padding: 1rem 1.5rem;
}



