body {
    // font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
    // font-family: 'Smooch', cursive;
    line-height: 1.7;
    color: $grey;
    

}

// .heading-primary {
//     color: $lightGray;
//     text-transform: uppercase;
//     backface-visibility: hidden;
//     margin-bottom: 6rem;
//     font-weight: 400;
//     letter-spacing: 3.5rem;
//     &--main{

//     }
//     &--sub{

//     }

// }