body {
    // font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
    // font-family: 'Smooch', cursive;
    line-height: 1.7;
    color: $grey;
    

}

.slide-title {
    font-family: 'Smooch', cursive;
        font-size: 10rem;
        color: $white;
}
.slide-txt{
    font-size: 1.8rem;
        color: $white;
        font-weight: 600;
        text-transform: uppercase;
}

.tour__title{
    position: absolute;
    display: flex;
    flex-direction: center;
    top: 20%;
    left: 50%;
    transform:translate(-50%, -50%);
    color: $white;
    z-index: 10;
}

.package__title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;
}
