body {
    // font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
    // font-family: 'Smooch', cursive;
    line-height: 1.7;
    color: $grey;
    

}

.slide-title {
    font-family: 'Smooch', cursive;
        font-size: 10rem;
        color: $white;
}
.slide-txt{
    font-size: 1.8rem;
        color: $white;
        font-weight: 600;
        text-transform: uppercase;
}

