
.section{
    margin-top: 5rem;
}
// Services

.section__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    &--upper {
        text-transform: uppercase;
        font-size: 1.6rem;
        color: $lightGray;
        display: inline-block;

    }   
    &--sub {
        display: inline-block;
        font-size: 2.5rem;

    }
    &--icon {
        width: 5rem;
    display: inline-block;
    }
}

.services{
    position: relative;
    padding-top: 7rem;
    margin: 0 auto;
    width: 130rem;
    align-items: start;
    column-gap: 1rem;
    &__cards{
        align-items: center;
        justify-items: center;
        row-gap: 2rem;
    }
    &__card{
        margin: 0 auto;
        align-self: center;
        &--img{
            width: 90%;
            height: 90%;
        }
        &--title{
            text-transform: uppercase;
            font-size: 1.6rem;
        }
        &--txt{
            width: 90%;
            font-size: 1.4rem;
            color: $lightGray;
            
        }
        &:last-child > img {
            height: 19rem;
            object-fit: cover;
        } 
    }
}

// Tour 

.tour{
    position: relative;
    &__video{
        position: absolute;
        bottom: 0;
        left: 40rem;
        box-shadow: 1rem 1.5rem 1rem rgba($black, .5);
        z-index: 10;
    }
}