
.section{
    margin-top: 5rem;
}
// Services

.section__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    &--upper {
        text-transform: uppercase;
        font-size: 1.6rem;
        color: $lightGray;
        display: inline-block;

    }   
    &--sub {
        display: inline-block;
        font-size: 2.5rem;

    }
    &--icon {
        width: 5rem;
    display: inline-block;
    }
}

.services{
    position: relative;
    padding-top: 7rem;
    margin: 0 auto;
    width: 130rem;
    align-items: start;
    column-gap: 1rem;
    &__cards{
        align-items: center;
        justify-items: center;
        row-gap: 2rem;
    }
    &__card{
        margin: 0 auto;
        align-self: center;
        &--img{
            width: 90%;
            height: 90%;
        }
        &--title{
            text-transform: uppercase;
            font-size: 1.6rem;
        }
        &--txt{
            width: 90%;
            font-size: 1.4rem;
            color: $lightGray;
            
        }
        &:last-child > img {
            height: 19rem;
            object-fit: cover;
        } 
    }
}

// Tour 

.tour{
    position: relative;
    &__video{
        position: absolute;
        bottom: 0;
        left: 40rem;
        box-shadow: 1rem 1.5rem 1rem rgba($black, .5);
        z-index: 10;
    }
}

.discount{
    width: 100vw;
    height: 40rem;
    background-image: linear-gradient(
        to bottom, 
        rgba($lightGreen, 0.6) 0,
        rgba($lightBlue, 0.6) 50%), 
        url(/img/pexels-nataliya-vaitkevich-4944685.jpg);
        background-size: cover;
        background-position: 10% 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    &__title{
        font-size: 3.4rem;
    }
    &__txt{
        font-size: 2rem;
    }
    &__form{
        display: flex;
        flex-direction: row;
        gap: 2rem;
        margin-top: 5rem;
        
        &--input-field > input {
            border: 1px solid $white;
            background-color: transparent;
            border-radius: 30px;
            color: $white;
            width: 40rem;
            padding: 1.5rem 3rem;
        }
        &--input-field input::placeholder{
            color: $white;
        }
    }
}

// validation

.discount__form--input-field {
    position: relative;
  }
  
  .input-field.invalid {
    border: 2px solid $yellow;
    background-color: transparent;
  }
  
  #error-message {
    position: absolute;
    top: 6rem;
    left: 2rem;
    background-color: transparent;
  }
  
  .input-field.invalid + .error-message {
    display: block;
  }

// testimonials

.icon {
    font-size: 64px;
    color: $yellow;
    background: linear-gradient($lightGreen, $lightBlue);
    height: 4.2rem;
    width: 4.2rem;
    color: rgba($white, 0.9);
    padding: 1.6rem;
    border-radius: 50%;
    margin-bottom: 3.2rem;
}

.testimonials{
    width: 90%;
    margin: 0 auto;

    &__container{
        padding-top: 6rem;
        display: flex;
        flex-direction: row;
        gap: 4rem;

        &-testimonial{
            background-color: rgba($grey, .2);
            font-size: 1.5rem;
            padding: 2.5rem;
            text-align: center;
            box-shadow: 0 1.5rem 4rem rgba($black, .15);
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            justify-content: center;
            align-items: center;

            &:hover{
                transform: translateY(-1.5rem) scale(1.03);
            }
            &-img{
               width: 40%;
               height: 30%;
               border-radius: 50%;
               display: inline-block;
               object-fit: cover;
               &:hover{
                border: 2px solid $yellow;

               }
            }
            &-author{
                color: $blue;
                font-size: 1.8rem;
                font-weight: 600;
            }
            &-txt{
               width: 100%;
            }
            &-icon{
                margin-top: 2rem;
            }
        }
    }
}